body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./img/landscape-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh; /* Usa toda la altura de la pantalla */
}

header {
    width: 100%;    
    padding: 10px 0;
    background-color: #333; /* Solo para darle un fondo y que se vea claramente */
}

header h1 {
      
    font-size: 2.5em;  /* Reducir el tamaño de la fuente del título */
    margin: 0;  /* Eliminar margen para que no ocupe más espacio */
}

header p {
    font-size: 1.2em;  /* Reducir el tamaño de la fuente del párrafo */
    margin: 0;  /* Eliminar margen para ahorrar espacio */
}

nav {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 9cqh; /* Hace que el nav ocupe todo el alto disponible */
    text-align: center; /* Centra el texto dentro del nav */
    
   
}

main {
    
    width: 80%;
    max-width: 800px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

p, ul {
    text-align: justify;
    line-height: 1.6;
}

.instrucciones{
    text-align : center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: rgb(235, 150, 23);
}
.play-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background: #e67e22;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


.play-button:hover {
    background: #d35400; /* Color más oscuro */
    transform: scale(1.1); /* Menos exagerado que 1.3 */
    transition: 0.3s ease-in-out;
}


footer {
    width: 100%;
    padding: 20px 0;
    
}

.footer-content {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100%; /* Hace que el div ocupe todo el alto disponible */
    text-align: center; /* Centra el texto dentro del div */
}

footer p {
    position: absolute;
    bottom: 0;  /* Fija el footer a la parte inferior de la pantalla */
    width: 100%;
    padding: 20px 0;
    background-color: #333;
    text-align: center;
    color: white;

}